h1, h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
  }
  
  body, p, button, nav {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

  a {
    text-decoration: none;
  }
  
  address {
    font-style: normal;
  }

  
  
  button {
    font-family: inherit;
  } 

  .container{
  
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  /* /__________________HEADER_________________/ */
  .header {
    padding-top: 28px;
    padding-bottom: 28px;
}
.header-navigation {
}
.header-logo {
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111;
}
.header-menu-list {
}
.header-menu-item
 {
}
.header-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
}
.header-menu-link:hover,
.header-menu-link:focus {
   color: #D78F65
}
.header-soc-list {
}
.header-soc-item {
}
.header-soc-link {
}
/* /____________________HERO___________________/ */
.hero {
  background-color: #F5E3D6;
  border-radius: 30px;
  padding-top: 381px;
  padding-bottom: 40px;
}

.hero-title {
  font-size: 35px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  margin-bottom: 32px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  margin-bottom: 28px;
}

.hero-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;    

}

.hero-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

/* /____________________ABOUT___________________/ */

.about{
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-title {
 
}

.about-picture {
}

.about-subtitle {
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  margin-bottom: 30px;
}

.about-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111; 
    }

/* /____________________CATALOG___________________/ */
    .catalog {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .catalog-title {
   font-size: 35px;
   line-height: 1.29;
   letter-spacing: -0.02em;
   color: #111;
   margin-bottom: 28px;
    }

    .catalog-item{
      border: 1px solid #fd9222;
      border-radius: 15px;
      padding: 28px 32px; 
    }

   .catalog-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
    }   
    .catalog-subtitle:hover,
    .catalog-subtitle:focus {
       color: #D78F65
    }
/* /____________________REVIEWS___________________/ */

    .reviews {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .reviews-title {
     font-size: 35px;
     line-height: 1.29;
     letter-spacing: -0.02em;
     color: #111;
     margin-bottom: 28px;
    }

    .reviews-list {
    }
    .reviews-item {
    }
    .reviews-picture {
      border-radius: 50%;
    }
    .reviews-subtitle {
     font-weight: 500;
     font-size: 18px;
     line-height: 1.14;
     letter-spacing: -0.02em;
     text-align: center;
     color: #111;
     margin-bottom: 28px;

    }
    .reviews-text {
     font-size: 18px;
     line-height: 1.29;
     letter-spacing: -0.02em;
     text-align: center;
     color: #111;
    }

/* ____________________ORDER___________________ */

    .order {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .order-title {
     font-size: 35px;
     line-height: 1.29;
     letter-spacing: -0.02em;
     color: #111;
     margin-bottom: 32px;
    }

    .order-list {
    }

    .order-item {
        
    }

    .order-scroll {
     font-weight: 500;
     font-size: 18px;
     line-height: 1.14;
     letter-spacing: -0.02em;
     color: #111;

    }

    .order-scroll:hover,
    .order-scroll:focus {
       color: #D78F65
    }

    .order-form-btn {
     font-weight: 600;
     font-size: 18px;
     color: #111;
    }

    .order-text{
     font-weight: 500;
     font-size: 18px;
     line-height: 1.14;
     letter-spacing: -0.02em;
     color: #111;   
    }
/* ____________________FOOTER___________________ */
    .footer {
    }

    .footer-title {
        font-family: 'Dancing Script', cursive;
        font-weight: 500;
        font-size: 35px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        color: #111;
    }

    .footer-subtitle {
     font-weight: 500;
     font-size: 14px;
     line-height: 1.29;
     text-align: center;
     color: #111;
    }

    .footer-address {
    }

    .footer-list {
    }

    .footer-item {
    }

    .footer-contact {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111;
    }

    .footer-nav {
    }

    .footer-nav-list {
    }

    .footer-nav-item {
    }
    
    .footer-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
    }

    .foorer-soc-list {
    }

    .footer-soc-item {
    }

    .footer-soc-link {
    }

    .footer-btn {
    font-weight: 600;
    font-size: 18px;
    color: #111;

    }

   